<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ViewPolicies</servlet-name>
  	<display-name>ViewPolicies</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.ViewPolicies</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewPolicies</servlet-name>
  	<url-pattern>/ViewPolicies</url-pattern>
  </servlet-mapping>
</web-app>
