<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test1</servlet-name>
  	<display-name>Test1</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRoleController</servlet-name>
  	<display-name>UserRoleController</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.UserRoleController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PolicyController</servlet-name>
  	<display-name>PolicyController</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.PolicyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuestionController</servlet-name>
  	<display-name>QuestionController</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.QuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsuredController</servlet-name>
  	<display-name>InsuredController</display-name>
  	<description></description>
  	<servlet-class>cg.ocrs.controller.InsuredController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test1</servlet-name>
  	<url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRoleController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PolicyController</servlet-name>
  	<url-pattern>/view-policies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuestionController</servlet-name>
  	<url-pattern>/questions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsuredController</servlet-name>
  	<url-pattern>/InsuredController</url-pattern>
  </servlet-mapping>
</web-app>
